In [34]:
#Gerekli kütüphaneler
from sklearn.linear_model import LinearRegression
import pandas as pd

In [35]:
#Veri setimizi çağıralım
df = pd.read_csv("Student_Marks.csv")

In [36]:
#Veri seti bilgisi
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   number_courses  100 non-null    int64
 1   time_study      100 non-null    float64
 2   Marks           100 non-null    float64
dtypes: float64(2), int64(1)
memory usage: 2.5 KB
None

In [37]:
#Verileri gözden geçirelim
df.head(5)

   number_courses  time_study   Marks
0               3       4.508  19.202
1               4       0.096   7.734
2               4       3.133  13.811
3               6       7.909  53.018
4               8       7.811  55.299

In [38]:
#Bağımsız değişkenleri tanımlayalım
y = df[["Marks"]]
x = df[["number_courses", "time_study"]]

In [39]:
#Lineer Regression Modelini Oluşturalım
l = LinearRegression()
#Modeli eğitelim
model = l.fit(x.values,y.values)

In [40]:
'''Tahminde bulunalım 
(Günde 4 saat ders çalışan 4. sınıf öğrencisi tahmini ne kadar not alır)'''
model.predict([[4,4]])

array([[21.59657189]])